:root,
[data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    /* --bs-primary: #0d6efd; */
    --bs-primary: var(--color-SeaweedGreen) ;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 10, 103, 2;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-emphasis-color: #000;
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;

    /* Autumn Part - Warm Naturals*/
    /* Bark bg-4 & btn-scrolltop*/
    --color-Bark: #2e2300;
    /* Seaweed Green bg-2*/
    --color-SeaweedGreen: #6e6702;
    /* Bronze bg-0*/
    --color-Bronze: #C05805;
    /* Goldenrod bg-1*/
    --color-Goldenrod: #db9501;
    /* bg-modal-1*/
    --color-modal: #917741;


    /* Spring Part - Outdoorsy & Natural*/
    /* Forest Green bg-4-alt & btn-scrollDown*/
    --Forest-Green: #2e4600;
    /* Grass bg-2-alt*/
    --Grass: #486b00;
    /* Lime bg-0-alt*/
    --Lime: #a2c523;
    /* spring-green bg-1-alt*/
    --Earth: #89da59;
    /* bg-modal-1-alt*/
    --color-modal-alt: #eecd85;

}

/* Global Color, use for entierly project */
body {

    /* Autumn Part - Warm Naturals*/
        /* Bark bg-4 & btn-scrolltop*/
        --color-Bark: #2e2300;
        /* Seaweed Green bg-2*/
        --color-SeaweedGreen: #6e6702;
        /* Bronze bg-0*/
        --color-Bronze: #C05805;
        /* Goldenrod bg-1*/
        --color-Goldenrod: #db9501;

    /*  Spring Part - Outdoorsy & Natural*/
        /* Forest Green bg-4-alt & btn-scrollDown*/
        --Forest-Green: #2e4600;
        /* Grass bg-2-alt*/
        --Grass: #486b00;
        /* Lime bg-0-alt*/
        --Lime: #a2c523;
        /* spring-green bg-1-alt*/
        --Earth: #89da59;
}

/* .bg-site {
        background-color: #db9501;
            color: #ffffff;
} */


/* First Page */


/* Header */

.bg-0 {
    background-color: var(--color-Bronze);
    color: #ffffff;
}

.bg-0-alt {
    background-color: var(--Lime);
    color: #ffffff;
}

ul.ovale-navigation {
    background-color: var(--color-Bronze);
}

a.color-white-link {
    color: #ffffff;
    padding: 15px;
    margin: 10px;
    /* font-size: 10px;  */
}
/* Animation Image via JS */
.button-click {
/* content:'image/Chien langue & non langue picto.png' */

background-image: url('image/Chien langue & non langue picto.png'); 
/* Image de remplacement */

display: none;
/* Pour Teste */

}

/* .button-click:hover img{
background-image: url('image/Chien langue & non langue picto.png');
height: 70px;
width: 120px;
}  */

div .call-function-changeDog {
    background-image: url("image/Chienlangue&nonlanguepictoalt.png");
}

div .call-function-changeDog.active {
    background-image: url("image/Chien langue Scroll Top.png");
}


/* Main */

/* Section 0 Présentation et histoire,
de l'association */
.bg-1 {
    background-color: var(--color-Goldenrod);
    color: #ffffff;
}
.bg-1-alt {
    background-color: var(--Earth);
    color: #ffffff;
}
/* Article */



/* Section 1 Résumer et objectif de l'association */
.bg-1 {
    background-color: var(--color-Goldenrod);
    color: #ffffff;
}
.bg-1-alt {
    background-color: var(--Earth);
    color: #ffffff;
}
/* Article */



/* Section 2 Gallerie d'image */
.bg-2 {
    background-color: var(--color-SeaweedGreen);
    color: #ffffff;
}
.bg-2-alt {
    background-color: var(--Grass);
    color: #ffffff;
}
/* Article */


/* Section 3 Contact */
.bg-3 {
    color: #ffffff;
}
.bg-3-alt {
    color: #ffffff;
}
/* Bouton Primary Personnalisé */

.btn-doggy {
    --bs-btn-color: #6e6702;
    --bs-btn-bg: #6e6702;
    --bs-btn-border-color: none ;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-SeaweedGreen) ;
    --bs-btn-hover-border-color: var(--color-SeaweedGreen);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--color-SeaweedGreen);
    --bs-btn-active-bg: var(--color-Bronze) ;
    --bs-btn-active-border-color: var(--color-SeaweedGreen);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-SeaweedGreen);
    --bs-btn-disabled-border-color: var(--color-SeaweedGreen);
}



/* Footer */



.bg-4 {
    background-color: var(--color-Bark);
    color: #ffffff;
}
.bg-4-alt {
    background-color: var(--Forest-Green);
    color: #ffffff;
}
/* scrolltop */
.btn-scrolltop {
    cursor: pointer;
    z-index: 100;
    /*Z index inférieur en scrollDown, à 1000, pour ne pas se cumuler, parfois en 
    rafraichissant la page, uniquement besoin du scrollDown, en haut, et comme quand on 
    rafraichie la page, on arrive directement en haut.*/
    position: fixed;
    bottom: 10px;
    width: 100px;
    left: 50%;
    margin-left: -75px;
    background-color: var(--color-Bark);
    box-shadow: 0.25rem 0.25rem 2rem var(--color-Bark);
}

/* ScrollDown */

.btn-scrollDown {
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    width: 100px;
    left: 50%;
    margin-left: -75px;
    background-color: var(--Forest-Green);
    box-shadow: 0.25rem 0.25rem 2rem var(--Forest-Green);
}


/* Modal (contain)*/

.bg-modal-1 {
    background-color: var(--color-modal);
    color: #ffffff;
}

.bg-modal-1-alt {
    background-color: var(--color-modal-alt);
    color: #ffffff;
}

.btn-spring {
    cursor: pointer;
}

.btn-autumn {
    cursor: pointer;
}

.block-spring {
background-color: var(--color-modal);
/* width: 1rem;
height: auto;
max-width: 10px; */
margin: 5px;
margin-top: 10px;
margin-bottom: 20px;
}

.block-autumn {
background-color: var(--color-modal-alt);
margin: 5px;
margin-top: 10px;
margin-bottom: 20px;
}

/* Scrollbar personnalisé */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--color-SeaweedGreen);
}

::-webkit-scrollbar-thumb {
    background: var(--color-Bronze);
}

/*# sourceMappingURL=style.css.map */